<style>
.opener_name {
  font-style: italic;
}
</style>
<h1>Issues</h1>
<ul>
  <% issues.each do |issue| %>
    <li>
      <h2><a href='/<%= user_name %>/<%= repo_name %>/<%= issue["number"] %>'><%= issue["title"] %></a></h2>
      <p class="opener_name">opened by <%= issue["username"] %></p>
    </li>
  <% end %>
</ul>
<a href='/<%= user_name %>/<%= repo_name %>/issues/new'>New Issue</a>
